.leftSide {
    flex: 1;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
}

.rightSide {
    flex: 1;
    position: relative;
    box-sizing: border-box;
    width: 100%;
}

.topSection {
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;

    .leftTop {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0rem 0rem 0rem 6rem;

        .title {
            color: #c5ff96;
            text-align: center;
            text-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
            font-family: "Euclid Circular A";
            font-size: 65px;
            font-style: normal;
            font-weight: 600;
            line-height: 90px; /* 100% */
            letter-spacing: -3.6px;
            text-align: left;
            span {
                color: #fff;
            }
        }

        p {
            color: #fff;

            -webkit-text-stroke-width: 1;
            -webkit-text-stroke-color: #000;
            font-family: "Euclid Circular A";
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: 35px; /* 140% */
            letter-spacing: -1px;

            span {
                color: #c5ff96;
                font-family: "Euclid Circular A";
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 30px;
                letter-spacing: -0.8px;
            }
        }
    }
}

.logo {
    position: absolute;
    top: 1.5rem;
    left: 2.5rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        margin-top: 5rem;
        color: #0c1504;

        text-align: center;
        font-family: "Euclid Circular A";
        font-size: 45px;
        font-style: normal;
        font-weight: 600;
        line-height: 55px; /* 157.143% */
        letter-spacing: -1.4px;
    }

    p {
        color: #0c1504;

        text-align: center;
        font-family: "Euclid Circular A";
        font-size: 25px;
        font-style: normal;
        font-weight: 500;
        line-height: 35px; /* 140% */
        letter-spacing: -1px;
    }
}

.bottomSection {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;

    padding: 0rem 12vw;

    h1 {
        color: #0c1504;

        font-family: "Euclid Circular A";
        font-size: 70px;
        font-style: normal;
        font-weight: 600;
        line-height: 90px; /* 128.571% */
        letter-spacing: -2.8px;
    }

    :global(.card) {
        border: none;
        border-radius: 20px;
        background: #f9f9f9;
        height: 300px;

        h5,
        h4 {
            color: #0c1504;

            font-family: "Euclid Circular A";
            font-size: 35px;
            font-style: normal;
            font-weight: 600;
            line-height: 45px; /* 128.571% */
            letter-spacing: -1.4px;
        }

        p {
            color: var(--Grey---Full, #878787);

            font-family: "Euclid Circular A";
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px; /* 150% */
            letter-spacing: -0.8px;
        }

        :global(.card-header) {
            border-radius: 20px;
            background: #f9f9f9;
            border-bottom: none;
            height: 30%;
            img {
                position: absolute;
                top: 1rem;
                left: 1rem;
                width: 5rem;
            }
        }
        :global(.card-body.d-flex) {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .left-side {
            flex: 1; /* Flex basis setting, can adjust as needed */
            padding-right: 20px; /* Spacing between the image and text */
        }

        .right-side {
            flex: 2; /* Flex basis setting, can adjust as needed */
        }
    }

    :global(.accordion) {
        border: none;
        background-color: white;
    }

    :global(.accordion-item) {
        border: none;
        background-color: white;
        border-radius: 20px;
        margin-bottom: 1rem;
    }

    :global(.accordion-button) {
        background-color: transparent;
        border: none;
        color: black;
        background-color: white;
        text-align: left;
        position: relative;
        box-shadow: none;
    }

    :global(.accordion-header) {
        background-color: transparent;
        border: none;
        color: black;
        background-color: white;
        text-align: left;
        position: relative;
        color: #0c1504;

        button {
            font-family: "Euclid Circular A";
            font-size: 25px;
            font-style: normal;
            font-weight: 600;
            line-height: 35px; /* 140% */
            letter-spacing: -1px;
        }
    }

    :global(.accordion-header::after) {
        position: absolute;
        right: 0;
        transition: transform 0.3s ease-in-out;
    }

    :global(.accordion-item.show .accordion-header::after) {
        transform: rotate(90deg);
    }

    :global(.accordion-body) {
        background-color: transparent;
        color: black;
        color: var(--Grey---Full, #878787);
        font-family: "Euclid Circular A";
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px; /* 150% */
        letter-spacing: -0.8px;
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
        margin-bottom: 2rem;
        gap: 2rem;
        span {
            color: var(--Grey---Full, #878787);
            font-family: "Euclid Circular A";
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 26px; /* 185.714% */
            letter-spacing: -0.56px;
            text-decoration-line: underline;
            cursor: pointer;
        }
    }
}

.leftSide,
.rightSide {
    flex: 1 0 auto;
    max-width: 50%;
    box-sizing: border-box;
}

.leftSide,
.rightSide {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    box-sizing: border-box;
}

.rightSide {
    flex: 1;
    position: relative;
    width: 100%;

    img {
        position: absolute;
        transition: all 0.5s ease;
        max-width: 400px;
    }

    .layer5 {
        left: 2rem;
        top: 0rem;
        z-index: 8;
    }
    .layer6 {
        left: 12rem;
        bottom: 4rem;
        z-index: 7;
    }
    .layer7 {
        right: 0rem;
        bottom: 0rem;
        z-index: 10;
    }

    @media (min-width: 1440px) {
    }
}

hr {
    width: 100%;
}

.iconBigCard {
    width: 25rem;
}

@media (max-width: 768px) {
    .topSection,
    .bottomSection {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0rem 2vw;

        .title {
            font-family: "Euclid Circular A";
            font-size: 35px;
            font-style: normal;
            font-weight: 600;
            line-height: 45px; /* 128.571% */
            letter-spacing: -1.4px;
            left: -1.5rem;
            position: relative;
        }

        .iconBigCard {
            width: 20rem;
        }

        .BigCard {
            height: 350px !important;
        }

        :global(.card) {
            height: 200px;
            h5,
            h4 {
                font-size: 20px;
                line-height: 30px;
                bottom: 3.5rem;
                position: absolute;
            }
            p {
                font-size: 14px;
                line-height: 26px;
            }

            :global(.card-header) {
                height: 30%;
                img {
                    top: 1rem;
                    left: 1rem;
                    width: 4rem;
                }
            }

            :global(.card-body) {
                position: relative;

                h5,
                p {
                    position: absolute;
                }

                h5 {
                    bottom: 4rem;
                }

                h4 {
                    bottom: 4.5rem;
                }

                p {
                    bottom: 1rem;
                }
            }

            .left-side {
                padding-right: 10px;
            }

            .right-side {
                padding-left: 10px;
            }
        }

        .footer {
            margin-top: 2rem;
            margin-bottom: 2rem;
            span {
                font-size: 12px;
                line-height: 22px;
            }
        }
    }

    .topSection {
        .logo {
            left: 2rem;
        }
        .leftSide {
            flex-basis: 100%;
            max-width: 100%;
            padding: 1rem !important;

            .title {
                font-size: 35px !important;
                line-height: 50px !important;
                letter-spacing: -2.4px !important;
            }
        }

        .rightSide {
            display: none;
        }
    }

    .header {
        h1 {
            color: #0c1504;

            text-align: center;
            font-family: "Euclid Circular A";
            font-size: 35px;
            font-style: normal;
            font-weight: 600;
            line-height: 55px; /* 157.143% */
            letter-spacing: -1.4px;
        }
        p {
            color: #0c1504;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 171.429% */
            letter-spacing: -0.56px;
        }
    }
}
