.inputContainer {
    display: flex;
    max-width: 30rem;
    width: 30rem;
    padding: 20px 30px;
    height: 84px;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background-color: #EEEEEE;
    position: relative;
    box-sizing: border-box;

    .input {
        flex-grow: 1;
        height: 54px;
        border-radius: 100px;
        border: none;
        padding: 0 20px;
        font-size: 14px;
        font-family: "Euclid Circular A";
        font-weight: 400;
        color: #000;
        background-color: transparent;
        &:focus {
            outline: none;
        }
        &::placeholder {
            color: #a8a8a8;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px; /* 214.286% */
            letter-spacing: -0.56px;
        }
    }

    svg {
        width: 22px;
        height: 22px;
    }

    .inputIcon {
        padding: 0 0 !important;
        height: 45px;
        &::placeholder {
            color: #010300;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px; /* 214.286% */
            letter-spacing: -0.56px;
        }
    }

    .error {
        color: red;
        font-size: 12px;
        font-weight: 700;
        position: absolute;
        bottom: -20px;
    }

    .success {
        color: #c5ff96;
        font-size: 12px;
        font-weight: 700;
        position: absolute;
        bottom: -20px;
    }

    .button {
        width: 10rem;
        height: 45px;
        border-radius: 100px;
        border: none;
        background-color: #000;
        cursor: pointer;
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px; /* 150% */
        letter-spacing: -0.8px;

        span {
            color: #c5ff96;
            //no wrap
            white-space: nowrap;
            text-align: center;
            font-family: "Euclid Circular A";
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 30px; /* 150% */
            letter-spacing: -0.8px;
        }

        &:focus {
            outline: none;
        }

        &:hover {
            transition: 0.3s ease-in-out;
            background-color: #c5ff96;
            span {
                color: #000;
            }
        }
    }
}

@media (max-width: 768px) {
    .inputContainer {
        flex-direction: column;
        height: auto;
        width: 100%;
        padding: 10px;

        justify-content: center;

        .input,
        .button {
            width: 100%;
            right: 0;
            top: auto;
            transform: none;
        }

        svg {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 15px;
        }

        .input {
            &::placeholder {
                font-size: 12px;
            }
        }

        .inputIcon {
            padding: 0 40px !important;
            &::placeholder {
                font-size: 10px;
            }
        }

        .button {
            width: 8rem;
            right: 10px;

            span{
                font-size: 14px;
            }
        }
    }
}
