.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.topSection {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 clamp(5vw, 15vw, 10rem);

    .logo {
        width: 161.279px;
        height: 37px;
    }

    .waitlistInput {
        margin-top: 8rem;
    }

    .header {
        padding: 0 8vw;
    }

    .title {
        color: #fff;
        text-align: center;
        text-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
        font-family: "Euclid Circular A";
        font-size: 90px;
        font-style: normal;
        font-weight: 600;
        line-height: 90px; /* 100% */
        letter-spacing: -3.6px;
        span {
            color: #c5ff96;
        }
    }

    p {
        color: #fff;

        text-align: center;
        font-family: "Euclid Circular A";
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 45px; /* 150% */
        letter-spacing: -1.2px;

        span {
            color: #c5ff96;
            font-family: "Euclid Circular A";
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 30px;
            letter-spacing: -0.8px;
        }
    }
}

.bottomSection {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;

    padding: 0rem 12vw;
    .header {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; /* Centrer les éléments horizontalement */
        justify-content: center;
    }

    :global(.card) {
        border: none;
        border-radius: 20px;
        background: #f9f9f9;
        height: 300px;

        h4{
            color: #0c1504;

            font-family: "Euclid Circular A";
            font-size: 35px;
            font-style: normal;
            font-weight: 600;
            line-height: 45px; /* 128.571% */
            letter-spacing: -1.4px;
        }

        h5 {
            bottom: 2rem;
            position: absolute;
            padding: 0rem 1.5rem;
            color: #0c1504;

            font-family: "Euclid Circular A";
            font-size: 35px;
            font-style: normal;
            font-weight: 600;
            line-height: 45px; /* 128.571% */
            letter-spacing: -1.4px;
        }

        p {
            color: var(--Grey---Full, #878787);

            font-family: "Euclid Circular A";
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px; /* 150% */
            letter-spacing: -0.8px;
        }

        :global(.card-header) {
            border-radius: 20px;
            background: #f9f9f9;
            border-bottom: none;
            height: 30%;

            img {
                position: absolute;
                top: 1rem;
                left: 1.5rem;
            }
        }
        :global(.card-body.d-flex) {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .left-side {
            flex: 1; /* Flex basis setting, can adjust as needed */
            padding-right: 20px; /* Spacing between the image and text */
        }

        .right-side {
            flex: 2; /* Flex basis setting, can adjust as needed */
        }
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
        gap: 2rem;
        span {
            color: var(--Grey---Full, #878787);
            font-family: "Euclid Circular A";
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 26px; /* 185.714% */
            letter-spacing: -0.56px;
            text-decoration-line: underline;
            cursor: pointer;
        }
    }
}

@media (max-width: 768px) {
    .topSection {
        padding: 0 5vw;

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        .logo {
            width: 50%;
            top: 3rem;
            position: relative;
        }

        .title {
            color: #fff;
            text-align: center;
            text-shadow: 0px 4px 14px rgba(0, 0, 0, 0.15);
            font-family: "Euclid Circular A";
            font-size: 35px;
            font-style: normal;
            font-weight: 600;
            line-height: 50px; /* 100% */
            letter-spacing: -3.6px;

            span {
                color: #c5ff96;
            }
        }

        p {
            color: #fff;

            text-align: center;
            font-family: "Euclid Circular A";
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px; /* 150% */
            letter-spacing: -0.8px;

            span {
                color: #fff;
                font-family: "Euclid Circular A";
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 30px;
                letter-spacing: -0.8px;
            }
        }
    }

    .bottomSection {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0rem 2vw;
        .iconBigCard{
            width: 90%;
            height: 90%;
        }

        :global(.card) {
            height: 200px;
            h5,h4 {
                font-size: 20px;
                line-height: 30px;
            }
            p {
                font-size: 14px;
                line-height: 26px;
            }

            :global(.card-header) {
                height: 30%;
                img {
                    top: 0.5rem;
                    left: 0.5rem;
                }
            }

            .left-side {
                padding-right: 10px;
            }

            .right-side {
                padding-left: 10px;
            }

        }

        .footer {
            margin-top: 2rem;
            margin-bottom: 2rem;
            span {
                font-size: 12px;
                line-height: 22px;
            }
        }
    }
}
